In [16]:
import os
import time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

- read data

In [17]:
os.chdir(r'C:\Users\Dragon\OneDrive\invest')

In [18]:
df_btc_price = pd.read_excel('btc_price.xlsx')

In [19]:
df_btc_price.describe()

              Close
count    674.000000
mean    7287.555712
std     2353.278570
min     3236.760000
25%     5670.610000
50%     7284.650000
75%     8973.007500
max    13016.230000

In [20]:
df_btc_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 674 entries, 0 to 673
Data columns (total 2 columns):
Date     674 non-null datetime64[ns]
Close    674 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 10.7 KB

In [21]:
df_btc_price.head()

        Date    Close
0 2018-01-22  10931.4
1 2018-01-23  10868.4
2 2018-01-24  11359.4
3 2018-01-25  11259.4
4 2018-01-26  11171.4

In [22]:
df_btc_price.tail()

          Date    Close
669 2019-11-22  7296.58
670 2019-11-23  7397.80
671 2019-11-24  7047.92
672 2019-11-25  7146.13
673 2019-11-26  7218.37

In [23]:
df_btc_price.loc[df_btc_price.index[4],'Close']

11171.4

In [24]:
df_btc_price.index[4]

4

- set varible

In [39]:
below_percent_buy = 0.1
above_price_percent = 1.1
sale_btc_amount = 0.1

- first buy

In [26]:
df_btc_price.loc[0,'out_money'] = 1000
df_btc_price.loc[0,'cum_out_money'] = 1000
df_btc_price.loc[0,'in_amount'] = 1000 / 10931.4
df_btc_price.loc[0,'cum_in_amount'] = 1000 / 10931.4
df_btc_price.loc[0,'out_amount'] = 0
df_btc_price.loc[0,'cum_out_amount'] = 0
df_btc_price.loc[0,'in_money'] = 0
df_btc_price.loc[0,'cum_in_money'] = 0
df_btc_price.loc[0,'own_amount'] = 1000 / 10931.4
df_btc_price.loc[0,'cost'] = 10931.4
df_btc_price.loc[0,'cost_change_percent'] = np.nan
df_btc_price.loc[0,'btc_value'] = 1000
df_btc_price.loc[0,'own_value'] = 1000
df_btc_price.loc[0,'value_gap'] = 0
df_btc_price.loc[0,'value_gap_percent'] = np.nan

In [40]:
df_btc_price.head()

,Date,Close,out_money,cum_out_money,in_amount,cum_in_amount,out_amount,cum_out_amount,in_money,cum_in_money,own_amount,cost,cost_change_percent,btc_value,own_value,value_gap,value_gap_percent
0,2018-01-22,10931.4,1000.0,1000.0,0.09148,0.09148,0.0,0.0,0.0,0.0,0.09148,10931.4,NaN,1000.000000,1000.000000,0.000000,NaN
1,2018-01-23,10868.4,0.0,1000.0,0.00000,0.09148,0.0,0.0,0.0,0.0,0.09148,10931.4,0.0,994.236786,994.236786,-5.763214,-0.576321
2,2018-01-24,11359.4,0.0,1000.0,0.00000,0.09148,0.0,0.0,0.0,0.0,0.09148,10931.4,0.0,1039.153265,1039.153265,39.153265,3.915326
3,2018-01-25,11259.4,0.0,1000.0,0.00000,0.09148,0.0,0.0,0.0,0.0,0.09148,10931.4,0.0,1030.005306,1030.005306,30.005306,3.000531
4,2018-01-26,11171.4,0.0,1000.0,0.00000,0.09148,0.0,0.0,0.0,0.0,0.09148,10931.4,0.0,1021.955102,1021.955102,21.955102,2.195510

In [28]:
x = df_btc_price.loc[3,'Date'] - df_btc_price.loc[0,'Date']
x.days

3

- following calculator

In [29]:
def buy_btc(n,price):
    df_btc_price.loc[n,'out_money'] = 1000
    df_btc_price.loc[n,'cum_out_money'] = df_btc_price.loc[n-1,'cum_out_money'] + 1000
    df_btc_price.loc[n,'in_amount'] = 1000 / price
    df_btc_price.loc[n,'cum_in_amount'] = df_btc_price.loc[n,'in_amount'] + df_btc_price.loc[n-1,'cum_in_amount']
    df_btc_price.loc[n,'out_amount'] = 0
    df_btc_price.loc[n,'cum_out_amount'] = df_btc_price.loc[n-1,'cum_out_amount']
    df_btc_price.loc[n,'in_money'] = 0
    df_btc_price.loc[n,'cum_in_money'] = df_btc_price.loc[n-1,'cum_in_money']
    df_btc_price.loc[n,'own_amount'] = df_btc_price.loc[n,'cum_in_amount'] - df_btc_price.loc[n,'cum_out_amount']
    df_btc_price.loc[n,'cost'] = (df_btc_price.loc[n,'cum_out_money'] - df_btc_price.loc[n,'cum_in_money']) / df_btc_price.loc[n,'own_amount']
    df_btc_price.loc[n,'cost_change_percent'] = (df_btc_price.loc[n,'cost'] / df_btc_price.loc[n-1,'cost'] -1) * 100
    df_btc_price.loc[n,'btc_value'] = price * df_btc_price.loc[n,'own_amount']
    df_btc_price.loc[n,'own_value'] = df_btc_price.loc[n,'btc_value'] + df_btc_price.loc[n,'cum_in_money']
    df_btc_price.loc[n,'value_gap'] = df_btc_price.loc[n,'own_value'] - df_btc_price.loc[n,'cum_out_money']
    df_btc_price.loc[n,'value_gap_percent'] = (df_btc_price.loc[n,'value_gap'] / df_btc_price.loc[n,'cum_out_money']) * 100

In [30]:
def sale_btc(n,price,sale_btc_amount):
    df_btc_price.loc[n,'out_money'] = 0
    df_btc_price.loc[n,'cum_out_money'] = df_btc_price.loc[n-1,'cum_out_money']
    df_btc_price.loc[n,'in_amount'] = 0
    df_btc_price.loc[n,'cum_in_amount'] = df_btc_price.loc[n-1,'cum_in_amount']
    df_btc_price.loc[n,'out_amount'] = df_btc_price.loc[n-1,'own_amount'] * sale_btc_amount
    df_btc_price.loc[n,'cum_out_amount'] = df_btc_price.loc[n,'out_amount'] + df_btc_price.loc[n-1,'cum_out_amount']
    df_btc_price.loc[n,'in_money'] = df_btc_price.loc[n,'out_amount'] * price
    df_btc_price.loc[n,'cum_in_money'] = df_btc_price.loc[n,'in_money'] + df_btc_price.loc[n-1,'cum_in_money']
    df_btc_price.loc[n,'own_amount'] = df_btc_price.loc[n,'cum_in_amount'] - df_btc_price.loc[n,'cum_out_amount']
    df_btc_price.loc[n,'cost'] = (df_btc_price.loc[n,'cum_out_money'] - df_btc_price.loc[n,'cum_in_money']) / df_btc_price.loc[n,'own_amount']
    df_btc_price.loc[n,'cost_change_percent'] = (df_btc_price.loc[n,'cost'] / df_btc_price.loc[n-1,'cost'] -1) * 100
    df_btc_price.loc[n,'btc_value'] = price * df_btc_price.loc[n,'own_amount']
    df_btc_price.loc[n,'own_value'] = df_btc_price.loc[n,'btc_value'] + df_btc_price.loc[n,'cum_in_money']
    df_btc_price.loc[n,'value_gap'] = df_btc_price.loc[n,'own_value'] - df_btc_price.loc[n,'cum_out_money']
    df_btc_price.loc[n,'value_gap_percent'] = (df_btc_price.loc[n,'value_gap'] / df_btc_price.loc[n,'cum_out_money']) * 100

In [31]:
def no_action(n,price):
    df_btc_price.loc[n,'out_money'] = 0
    df_btc_price.loc[n,'cum_out_money'] = df_btc_price.loc[n-1,'cum_out_money']
    df_btc_price.loc[n,'in_amount'] = 0
    df_btc_price.loc[n,'cum_in_amount'] = df_btc_price.loc[n-1,'cum_in_amount']
    df_btc_price.loc[n,'out_amount'] = 0
    df_btc_price.loc[n,'cum_out_amount'] = df_btc_price.loc[n-1,'cum_out_amount']
    df_btc_price.loc[n,'in_money'] = 0
    df_btc_price.loc[n,'cum_in_money'] = df_btc_price.loc[n-1,'cum_in_money']
    df_btc_price.loc[n,'own_amount'] = df_btc_price.loc[n-1,'own_amount']
    df_btc_price.loc[n,'cost'] = df_btc_price.loc[n-1,'cost']
    df_btc_price.loc[n,'cost_change_percent'] = 0
    df_btc_price.loc[n,'btc_value'] = price * df_btc_price.loc[n,'own_amount']
    df_btc_price.loc[n,'own_value'] = df_btc_price.loc[n,'btc_value'] + df_btc_price.loc[n,'cum_in_money']
    df_btc_price.loc[n,'value_gap'] = df_btc_price.loc[n,'own_value'] - df_btc_price.loc[n,'cum_out_money']
    df_btc_price.loc[n,'value_gap_percent'] = (df_btc_price.loc[n,'value_gap'] / df_btc_price.loc[n,'cum_out_money']) * 100

In [41]:
for i in range(1,df_btc_price.shape[0]):
    price = df_btc_price.loc[i,'Close']
    if df_btc_price.loc[i-1,'cost'] * below_percent_buy - price >=0:
        buy_btc(i,price)
    elif price - df_btc_price.loc[i-1,'cost'] * above_price_percent >= 0:
        sale_btc(i,price,sale_btc_amount)
    else:
        no_action(i,price)
    
    if df_btc_price.loc[i,'cost'] <= 0:
        break

In [42]:
df = df_btc_price.dropna(subset=['out_money'])

end_day = df.loc[df.index[-1],'Date']
during_days = df.shape[0]

max_out_money = df['cum_out_money'].max()

max_own_value = df['own_value'].max()
max_own_value_day = df.iloc[df['own_value'].idxmax(),0]

last_own_value = df.loc[df.index[-1],'own_value']

max_recall_percent = df['value_gap_percent'].min()

max_earn_percent = df['value_gap_percent'].max()
max_earn_percent_day = df.iloc[df['value_gap_percent'].idxmax(),0]

In [43]:
df.tail()

,Date,Close,out_money,cum_out_money,in_amount,cum_in_amount,out_amount,cum_out_amount,in_money,cum_in_money,own_amount,cost,cost_change_percent,btc_value,own_value,value_gap,value_gap_percent
547,2019-07-23,9900.77,0.0,1000.0,0.0,0.09148,0.000901,0.083372,8.919251,975.109615,0.008108,3069.938583,-18.200884,80.273260,1055.382875,55.382875,5.538288
548,2019-07-24,9811.93,0.0,1000.0,0.0,0.09148,0.000811,0.084183,7.955297,983.064911,0.007297,2320.828425,-24.401470,71.597669,1054.662580,54.662580,5.466258
549,2019-07-25,9911.84,0.0,1000.0,0.0,0.09148,0.000730,0.084912,7.232671,990.297583,0.006567,1477.382695,-36.342442,65.094041,1055.391623,55.391623,5.539162
550,2019-07-26,9870.30,0.0,1000.0,0.0,0.09148,0.000657,0.085569,6.482124,996.779706,0.005911,544.836328,-63.121517,58.339112,1055.118818,55.118818,5.511882
551,2019-07-27,9477.68,0.0,1000.0,0.0,0.09148,0.000591,0.086160,5.601850,1002.381556,0.005320,-447.701858,-182.171807,50.416653,1052.798209,52.798209,5.279821

In [44]:
print('结束日:',end_day)
print('运行时长:',during_days)
print('最终投入金额:',max_out_money)
print('最大资产价值:',max_own_value)
print('最大资产价值的日期:',max_own_value_day)
print('最终资产价值:',last_own_value)
print('最大回撤:',max_recall_percent)
print('最大收益率:',max_earn_percent)
print('最大收益率日期:',max_earn_percent_day)

结束日: 2019-07-27 00:00:00
运行时长: 552
最终投入金额: 1000.0
最大资产价值: 1190.7193955028633
最大资产价值的日期: 2019-06-26 00:00:00
最终资产价值: 1052.7982092599816
最大回撤: -70.39025193479334
最大收益率: 19.071939550286334
最大收益率日期: 2019-06-26 00:00:00

In [45]:
df_btc_price[df_btc_price.out_money > 0].head()

,Date,Close,out_money,cum_out_money,in_amount,cum_in_amount,out_amount,cum_out_amount,in_money,cum_in_money,own_amount,cost,cost_change_percent,btc_value,own_value,value_gap,value_gap_percent
0,2018-01-22,10931.4,1000.0,1000.0,0.09148,0.09148,0.0,0.0,0.0,0.0,0.09148,10931.4,NaN,1000.0,1000.0,0.0,NaN

In [89]:
np.linspace(0,1,10,endpoint=False)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])

In [4]:
for i in np.linspace(0.1,1,10,endpoint=False):
    print(i)

0.1
0.19
0.28
0.37
0.45999999999999996
0.5499999999999999
0.64
0.73
0.82
0.9099999999999999

In [12]:
[x * 0.1 for x in range(1, 10)]

[0.1,
 0.2,
 0.30000000000000004,
 0.4,
 0.5,
 0.6000000000000001,
 0.7000000000000001,
 0.8,
 0.9]

In [10]:
for i in [x * 0.1+1 for x in range(1, 21)]:
    print(i)

1.1
1.2
1.3
1.4
1.5
1.6
1.7000000000000002
1.8
1.9
2.0
2.1
2.2
2.3
2.4000000000000004
2.5
2.6
2.7
2.8
2.9000000000000004
3.0

In [13]:
a = []

In [14]:
b = [1]
a.append(b)
a

[[1]]

In [15]:
c = [2]
a.append(c)
a

[[1], [2]]

In [46]:
n = 0

In [47]:
n += 1

In [48]:
n

1